body {
  --color-bkg: #ffffff;
  --color-prim: #333333;
  --color-sec: #666666;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  background-color: var(--color-bkg);
  color: var(--color-prim);
}

body.night-mode {
  --color-bkg: #222222;
  --color-prim: #eeeeee;
  --color-sec: #bbbbbb;
}

a {
  text-decoration: none;
  color: #288fb4;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  background-color: var(--color-bkg);
  color: var(--color-prim);
  border: none;
  outline: none;
  height: 35px;
  max-width: 70%;
  padding-left: 0;
}

input:focus {
  border-bottom: 1px solid #cdcdcd;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 20px auto;
}

.weather-app {
  padding: 15px 20px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  position: relative;
}

.night-mode .weather-app {
  box-shadow: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.175) !important;
}

.current-city {
  font-size: 28px;
}

.weather-icon {
  width: 50px;
  margin-left: -5px;
}

.weather-icon-day {
  width: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.units {
  font-size: 12px;
  position: relative;
  top: -10px;
}

.selected-unit {
  font-weight: bold;
  color: inherit;
  cursor: auto;
}

.selected-unit:hover {
  color: inherit;
}

.weather-extras {
  font-size: 14px;
  color: var(--color-sec);
}

.days {
  margin-top: 10px;
  text-align: center;
}

.today {
  font-weight: bold;
}

.min {
  color: #158fcc;
  margin-right: 2px;
}

.max {
  color: #f23557;
  margin-left: 2px;
}

@media (min-width: 375px) {
  .min {
    margin-right: 5px;
  }

  .max {
    margin-left: 5px;
  }
}

.button {
  position: absolute;
  color: var(--color-sec);
  cursor: pointer;
}

.footer {
  margin: 10px;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 760px) {
  .footer {
    text-align: left;
  }

  .footer-subsection {
    float: right;
  }
}

#night-mode-btn {
  right: 20px;
}

#geolocation-btn {
  right: 40px;
}

#lang-btn {
  right: 60px;
  color: var(--color-bkg);
  background-color: var(--color-sec);
  font-family: "Noto Sans SC";
  font-size: 10px;
  font-weight: bold;
  padding: 1px 2px;
  border-radius: 4px;
}

#lang-btn.inactive {
  opacity: 0.2;
  cursor: default;
}

#description::first-letter {
  text-transform: capitalize;
}

#main-temperature {
  font-size: 42px;
  height: 50px;
}
